body {
	font-family: Sans-Serif;
	font-size: 10pt;
}

.defaultInputStyle {
	width: 100%;
	display: block;
	margin: 1% auto;
	border: 2px solid #aaa;
	border-radius: 4px;
	outline: none;
	padding: 5px;
	box-sizing: border-box;
	transition: 0.3s;
}

.defaultInputStyle:focus {
	border-color: dodgerBlue;
	box-shadow: 0 0 8px 0 dodgerBlue;
}


input[type='submit']:hover {
	border-color: #77f;
	background-color: #77f;
	cursor: hand;
}

input[type='submit'] {
	border-color: dodgerBlue;
	background-color: dodgerBlue;
	color: white;
	margin-top: 5%;
}



.userInput {
	position: relative;
	margin: 0% auto;
	width: 45%;
}

.inputDate, select {
	width: 10%;
	display: inline;
	margin: 1% auto;
	border: 2px solid #aaa;
	border-radius: 4px;
	outline: none;
	padding: 5px;
	box-sizing: border-box;
	transition: 0.3s;
	text-align: center;
}

.inputDate:focus {
	border-color: dodgerBlue;
	box-shadow: 0 0 8px 0 dodgerBlue;
}

label {
	display: block;
}
